{
    "openapi": "3.0.0",
    "info": {
        "title": "Api QuickMenu",
        "description": "Documentação da API do sistema de restaurante quickmenu.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Servidor principal"
        }
    ],
    "paths": {
        "/api/addresses": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "List all addresses",
                "description": "Retrieve list of all addresses",
                "operationId": "d36bf2c013f585f04a4b79829ac21883",
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "addresses": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Address"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Address"
                ],
                "summary": "Create address",
                "description": "Store address",
                "operationId": "6bbc1d4e6af4b09f0e76bc48dc84ea95",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Address"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Endereço registrado com sucesso"
                    }
                }
            }
        },
        "/api/addresses/{address}": {
            "get": {
                "tags": [
                    "Address"
                ],
                "summary": "Get address by id",
                "description": "Retrieve a single address",
                "operationId": "2afc0f801cfd83bca228c2c15ec9a5f8",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Address"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Address"
                ],
                "summary": "Update address",
                "description": "Update address data",
                "operationId": "03c1acda1e9e3f86f3f388edfb0f1e33",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Address"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Endereço atualizado com sucesso"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Address"
                ],
                "summary": "Delete address",
                "description": "Permanently delete address",
                "operationId": "a9355aee849aeb0e9e73b2c42b77ea39",
                "parameters": [
                    {
                        "name": "address",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Endereço deletado com sucesso"
                    }
                }
            }
        },
        "/api/categories": {
            "post": {
                "tags": [
                    "Category"
                ],
                "summary": "Store category",
                "description": "Store category",
                "operationId": "d5d39337e0ae1ad328da08f7b468fbbe",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Category 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Category 1"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "default": true,
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoria registrado com sucesso"
                    }
                }
            }
        },
        "/api/categories/{id}": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get category",
                "description": "Get category",
                "operationId": "7706bd1bbea7216615ae2d54256aac49",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurante encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Category 1"
                                        },
                                        "description": {
                                            "type": "string",
                                            "example": "Category 1"
                                        },
                                        "active": {
                                            "type": "boolean",
                                            "example": true
                                        },
                                        "restaurant_id": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categoria não encontrada",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Categoria não encontrada"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Category"
                ],
                "summary": "Update category",
                "description": "Update category",
                "operationId": "3876780767a6c0512fcd21fc7913395e",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Category 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Category 1"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Categoria atualizado com sucesso"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Category"
                ],
                "summary": "Delete category",
                "description": "Delete category",
                "operationId": "09f09c1bc59c6969c4749771edae84cd",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria deletada com sucesso"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Category"
                ],
                "summary": "Destroy category",
                "description": "Destroy category",
                "operationId": "6cd45a617d912adf04d79b4b25775c09",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID da categoria",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categoria desativada com sucesso"
                    }
                }
            }
        },
        "/api/restaurants/{restaurant}/categories": {
            "get": {
                "tags": [
                    "Category"
                ],
                "summary": "Get all categories by restaurant",
                "description": "Get all categories by restaurant",
                "operationId": "ad71bf7cc8c0f4d9ff9cfc88779d2e40",
                "parameters": [
                    {
                        "name": "restaurant_id",
                        "in": "path",
                        "description": "ID do restaurante",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Categorias encontradas",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "name": {
                                                "type": "string",
                                                "example": "Category 1"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Category 1"
                                            },
                                            "active": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "restaurant_id": {
                                                "type": "integer",
                                                "example": 1
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Categorias não encontradas"
                    }
                }
            }
        },
        "/api/menu-items": {
            "post": {
                "tags": [
                    "Menu Item"
                ],
                "summary": "Store menu item",
                "description": "Store menu item",
                "operationId": "39d7c8a497a79e4900adf54e389a7c84",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MenuItem"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Item do menu registrado com sucesso"
                    }
                }
            }
        },
        "/api/menu-items/restaurant/{restaurant}": {
            "get": {
                "tags": [
                    "Menu Item"
                ],
                "summary": "Get all menu items",
                "description": "Get all menu items for a restaurant",
                "operationId": "5d0d064c04c15c12967c81c6828d79af",
                "parameters": [
                    {
                        "name": "restaurant",
                        "in": "path",
                        "description": "ID do restaurante",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Itens do menu encontrados",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MenuItem"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/menu-items/{menuItem}": {
            "get": {
                "tags": [
                    "Menu Item"
                ],
                "summary": "Get menu item",
                "description": "Get menu item by id",
                "operationId": "19841a906e673349e0bdde8442c2a785",
                "parameters": [
                    {
                        "name": "menuItem",
                        "in": "path",
                        "description": "ID do item do menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item do menu encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MenuItem"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Menu Item"
                ],
                "summary": "Update menu item",
                "description": "Update menu item",
                "operationId": "48797db6147bad242e6aa93b2846f793",
                "parameters": [
                    {
                        "name": "menuItem",
                        "in": "path",
                        "description": "ID do item do menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/MenuItem"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Item do menu atualizado com sucesso"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Menu Item"
                ],
                "summary": "Delete menu item",
                "description": "Delete a menu item",
                "operationId": "ed03c8aa861c7d1e53e231799acbe63f",
                "parameters": [
                    {
                        "name": "menuItem",
                        "in": "path",
                        "description": "ID do item do menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item do menu deletado com sucesso"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Menu Item"
                ],
                "summary": "Soft delete menu item",
                "description": "Deactivate a menu item",
                "operationId": "f4554858ade207d6b332218f11f08450",
                "parameters": [
                    {
                        "name": "menuItem",
                        "in": "path",
                        "description": "ID do item do menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Item do menu desativado com sucesso"
                    }
                }
            }
        },
        "/api/menus": {
            "get": {
                "tags": [
                    "Menu"
                ],
                "summary": "Get all menu",
                "description": "Get all menu",
                "operationId": "e1e5e59287840410f132fe091d1fbfe7",
                "responses": {
                    "200": {
                        "description": "Lista de menus",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 3
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Cardapio Teste"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Cardapio Teste"
                                            },
                                            "image": {
                                                "type": "string",
                                                "example": "Teste.jpg"
                                            },
                                            "restaurant_id": {
                                                "type": "integer",
                                                "example": 2
                                            },
                                            "active": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "slug": {
                                                "type": "string",
                                                "example": "cardapio-Teste"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-09-09T03:58:10.000000Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-09-09T03:58:10.000000Z"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Menu"
                ],
                "summary": "Store menu",
                "description": "Store menu",
                "operationId": "95eb7940157cb1f157df64b40ec5ccb0",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Menu 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Menu 1"
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://example.com/image.jpg"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "default": true,
                                        "example": true
                                    },
                                    "restaurant_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Menu registrado com sucesso"
                    }
                }
            }
        },
        "/api/menus/{id}": {
            "get": {
                "tags": [
                    "Menu"
                ],
                "summary": "Get menu",
                "description": "Get menu",
                "operationId": "b6d832555451425d6528be660b6bba4c",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do Restaurante",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do Menu",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Lista de menus",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "properties": {
                                            "id": {
                                                "type": "integer",
                                                "example": 3
                                            },
                                            "name": {
                                                "type": "string",
                                                "example": "Cardapio Teste"
                                            },
                                            "description": {
                                                "type": "string",
                                                "example": "Cardapio Teste"
                                            },
                                            "image": {
                                                "type": "string",
                                                "example": "Teste.jpg"
                                            },
                                            "restaurant_id": {
                                                "type": "integer",
                                                "example": 2
                                            },
                                            "active": {
                                                "type": "boolean",
                                                "example": true
                                            },
                                            "slug": {
                                                "type": "string",
                                                "example": "cardapio-Teste"
                                            },
                                            "created_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-09-09T03:58:10.000000Z"
                                            },
                                            "updated_at": {
                                                "type": "string",
                                                "format": "date-time",
                                                "example": "2025-09-09T03:58:10.000000Z"
                                            }
                                        },
                                        "type": "object"
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Menu"
                ],
                "summary": "Update menu",
                "description": "Update menu",
                "operationId": "760bce89fb01239625d38f9c46ae92e1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID do Menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Menu 1"
                                    },
                                    "description": {
                                        "type": "string",
                                        "example": "Menu 1"
                                    },
                                    "image": {
                                        "type": "string",
                                        "example": "https://example.com/image.jpg"
                                    },
                                    "active": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "restaurant_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Menu registrado com sucesso"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Menu"
                ],
                "summary": "Delete menu ",
                "description": "Deletar menu",
                "operationId": "ffa4606f2c88409876feda88cd424cc8",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do Menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu deletado com sucesso"
                    }
                }
            },
            "patch": {
                "tags": [
                    "Menu"
                ],
                "summary": "Destroy menu ",
                "description": "Desativar menu",
                "operationId": "12fa98b501dc4c5d02d6baddfb4608f4",
                "parameters": [
                    {
                        "name": "id",
                        "in": "query",
                        "description": "ID do Menu",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Menu desativado com sucesso"
                    }
                }
            }
        },
        "/api/restaurants": {
            "get": {
                "tags": [
                    "Restaurant"
                ],
                "summary": "Get all restaurants",
                "description": "Get all restaurants",
                "operationId": "aecb2c1eec20a0dd9ec39785a59e052f",
                "responses": {
                    "200": {
                        "description": "Restaurante encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Restaurante 1"
                                        },
                                        "perfil_img": {
                                            "type": "string",
                                            "example": "https://example.com/perfil.jpg"
                                        },
                                        "capa_img": {
                                            "type": "string",
                                            "example": "https://example.com/capa.jpg"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "teste@example.com"
                                        },
                                        "open_time": {
                                            "type": "string",
                                            "example": "10:00"
                                        },
                                        "close_time": {
                                            "type": "string",
                                            "example": "22:00"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "1234567890"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Restaurant"
                ],
                "summary": "Store restaurant",
                "description": "Store restaurant",
                "operationId": "76be6ed9db09a138106513fe1b2cb36f",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Restaurante 1"
                                    },
                                    "perfil_img": {
                                        "type": "string",
                                        "example": "https://example.com/perfil.jpg"
                                    },
                                    "capa_img": {
                                        "type": "string",
                                        "example": "https://example.com/capa.jpg"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "teste@example.com"
                                    },
                                    "open_time": {
                                        "type": "string",
                                        "example": "10:00"
                                    },
                                    "close_time": {
                                        "type": "string",
                                        "example": "22:00"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "address_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Restaurante registrado com sucesso"
                    }
                }
            }
        },
        "/api/restaurants/{restaurant}": {
            "get": {
                "tags": [
                    "Restaurant"
                ],
                "summary": "Get restaurant",
                "description": "Get restaurant",
                "operationId": "6e97a75b391d75dea6438aef4841e5cf",
                "parameters": [
                    {
                        "name": "restaurant",
                        "in": "path",
                        "description": "ID do restaurante",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurante encontrado",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "name": {
                                            "type": "string",
                                            "example": "Restaurante 1"
                                        },
                                        "perfil_img": {
                                            "type": "string",
                                            "example": "https://example.com/perfil.jpg"
                                        },
                                        "capa_img": {
                                            "type": "string",
                                            "example": "https://example.com/capa.jpg"
                                        },
                                        "email": {
                                            "type": "string",
                                            "example": "teste@example.com"
                                        },
                                        "open_time": {
                                            "type": "string",
                                            "example": "10:00"
                                        },
                                        "close_time": {
                                            "type": "string",
                                            "example": "22:00"
                                        },
                                        "phone": {
                                            "type": "string",
                                            "example": "1234567890"
                                        },
                                        "address_id": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Restaurant"
                ],
                "summary": "Update restaurant",
                "description": "Update restaurant",
                "operationId": "4cd07120d35bf2c1b3c644f2779d723c",
                "parameters": [
                    {
                        "name": "restaurant",
                        "in": "path",
                        "description": "ID do restaurante",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "Restaurante 1"
                                    },
                                    "perfil_img": {
                                        "type": "string",
                                        "example": "https://example.com/perfil.jpg"
                                    },
                                    "capa_img": {
                                        "type": "string",
                                        "example": "https://example.com/capa.jpg"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "teste@example.com"
                                    },
                                    "open_time": {
                                        "type": "string",
                                        "example": "10:00"
                                    },
                                    "close_time": {
                                        "type": "string",
                                        "example": "22:00"
                                    },
                                    "phone": {
                                        "type": "string",
                                        "example": "1234567890"
                                    },
                                    "address_id": {
                                        "type": "integer",
                                        "example": 1
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Restaurante atualizado com sucesso"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Restaurant"
                ],
                "summary": "Delete restaurant by id",
                "description": "Delete restaurant by id",
                "operationId": "fff3145c95634139e150982e0cfa97df",
                "parameters": [
                    {
                        "name": "restaurant",
                        "in": "path",
                        "description": "ID do restaurante",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Restaurante deletado com sucesso"
                    }
                }
            }
        },
        "/api/register": {
            "post": {
                "tags": [
                    "User"
                ],
                "summary": "Registrar usuário",
                "operationId": "7fe0bf4a23de80345ff3c252a4ddc9ff",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "João Silva"
                                    },
                                    "email": {
                                        "type": "string",
                                        "example": "joao@email.com"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "123456"
                                    },
                                    "role": {
                                        "type": "integer",
                                        "example": "4"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Usuário registrado com sucesso"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Address": {
                "title": "Address",
                "required": [
                    "address_name",
                    "quatrain",
                    "number",
                    "city",
                    "state",
                    "cep"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "readOnly": true
                    },
                    "address_name": {
                        "description": "Nome do endereço",
                        "type": "string"
                    },
                    "quatrain": {
                        "description": "Quadra",
                        "type": "string"
                    },
                    "number": {
                        "type": "string"
                    },
                    "complement": {
                        "type": "string",
                        "nullable": true
                    },
                    "district": {
                        "type": "string",
                        "nullable": true
                    },
                    "city": {
                        "type": "string"
                    },
                    "state": {
                        "type": "string"
                    },
                    "neighborhood": {
                        "type": "string",
                        "nullable": true
                    },
                    "cep": {
                        "type": "string"
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "readOnly": true
                    }
                },
                "type": "object"
            },
            "MenuItem": {
                "title": "MenuItem",
                "properties": {
                    "id": {
                        "type": "integer",
                        "example": 1
                    },
                    "name": {
                        "type": "string",
                        "example": "Item 1"
                    },
                    "description": {
                        "type": "string",
                        "example": "Delicious item"
                    },
                    "price": {
                        "type": "number",
                        "format": "float",
                        "example": 10.99
                    },
                    "image": {
                        "type": "string",
                        "example": "https://example.com/image.jpg"
                    },
                    "active": {
                        "type": "boolean",
                        "example": true
                    },
                    "menu_id": {
                        "type": "integer",
                        "example": 1
                    },
                    "category_id": {
                        "type": "integer",
                        "example": 2
                    },
                    "created_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-09T03:58:10.000000Z"
                    },
                    "updated_at": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-09-09T03:58:10.000000Z"
                    }
                },
                "type": "object"
            }
        }
    },
    "tags": [
        {
            "name": "Address",
            "description": "Address"
        },
        {
            "name": "Category",
            "description": "Category"
        },
        {
            "name": "Menu Item",
            "description": "Menu Item"
        },
        {
            "name": "Menu",
            "description": "Menu"
        },
        {
            "name": "Restaurant",
            "description": "Restaurant"
        },
        {
            "name": "User",
            "description": "User"
        }
    ]
}