services:

  app:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "8081:8080"
    volumes:
    - .:/var/www
    - ./docker/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
      # - ./docker/php/conf.d/xdebug-profiles:/tmp/xdebug
    container_name: app-quickmenu
    restart: always
    networks:
      - quickmenu_networks
    environment:
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: "client_host=host.docker.internal client_port=9003"
    depends_on:
      - db
  nginx:
    image: nginx:alpine
    depends_on:
      - app
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    container_name: nginx-quickmenu
    restart: always
    networks:
      - quickmenu_networks
  db:
    image: postgres:15
    container_name: db-quickmenu
    restart: always
    environment:
      POSTGRES_USER: ${DB_USERNAME:-postgres}
      POSTGRES_PASSWORD: ${DB_PASSWORD:-root}
      POSTGRES_DB: ${DB_DATABASE:-app_quickmenu}
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    networks:
      - quickmenu_networks
networks:
  quickmenu_networks:
    driver: bridge

volumes:
  pgdata:
    driver: local